<!doctype html>
<html>
  <head>
    <title>EVENTS</title>
  </head>
  <body>
    <p style="color: red">{{error}}</p>
    <ul>
      {% for event in events %}
        <b>Owner avatar from gravatar:</b> <img src="{{dAvatar}}">
        <li><b>Event I.D:</b> {{ event._id }}</li>
        <li><b>Event Name:</b> {{ event.event_name }}</li>
        <li><b>Event Address:</b> {{ event.event_address }}</li>
        <li><b>Organizer's Email:</b> {{ event.org_email }}</li>
        <br><br><br>
      {% endfor %}
    </ul>
  </body>
